html {
          -ms-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
          --scrollerGrey: 219, 219, 219;
          --lightGrey: 227, 227, 227;
          --darkerGrey: 200, 200, 200;
          --vibrantDarkBlue: 6, 37, 65;
          --vibrantLightBlue: 0, 118, 241;
          --tmdbDarkBlue: 3, 37, 65;
          --tmdbRedBg: 222, 16, 2;
          --tmdbLighterGreen: 192, 254, 207;
          --tmdbLightGreen: 30, 213, 169;
          --tmdbLogoGreen: 144, 206, 161;
          --tmdbLogoOrange: 253, 193, 112;
          --tmdbLogoRed: 217, 59, 99;
          --accountSilver: 149, 149, 149;
          --accountPink: 234, 20, 140;
          --accountPurple: 128, 91, 231;
          --accountGreen: 1, 210, 119;
          --accountTeal: 1, 198, 172;
          --accountLightBlue: 1, 180, 228;
          --accountBlue: 1, 119, 210;
          --accountOrange: 210, 119, 1;
          --accountYellow: 210, 144, 1;
          --accountRed: 212, 2, 66;
          --imageBorderRadius: 8px;
          --maxPrimaryPageWidth: 1400px
      }

      html {
          --numberOfDiscoverColumns: 1;
          --discoverColumnPadding: 20px
      }

      @media only screen and (max-width:350px) {
          html {
              --numberOfDiscoverColumns: 1;
              --discoverColumnPadding: 5px
          }
      }

      @media only screen and (min-width:350px) and (max-width:567px) {
          html {
              --numberOfDiscoverColumns: 2;
              --discoverColumnPadding: 7px;
          }
      }

      @media only screen and (min-width:567px) and (max-width:700px) {
          html {
              --numberOfDiscoverColumns: 3;
              --discoverColumnPadding: 5px;
          }
      }

      @media only screen and (min-width:700px) and (max-width:767px) {
          html {
              --numberOfDiscoverColumns: 3;
              --discoverColumnPadding: 10px
          }
      }

      @media only screen and (min-width:767px) and (max-width:1040px) {
          html {
              --numberOfDiscoverColumns: 3;
              --discoverColumnPadding: 5px
          }
      }

      @media only screen and (min-width:1040px) and (max-width:1240px) {
          html {
              --numberOfDiscoverColumns: 4;
              --discoverColumnPadding: 5px
          }
      }

      @media only screen and (min-width:1240px) {
          html {
              --numberOfDiscoverColumns: 5
          }

          div.page_wrapper {
              gap: 8px !important;
          }
      }

      @media only screen and (max-width:1240px) {

          div.movie_card.style_1 {
              width: calc((100% - (var(--discoverColumnPadding)*var(--numberOfDiscoverColumns)))/var(--numberOfDiscoverColumns));
          }
      }

      div.content {
          width: 100%;
          display: flex;
          align-items: flex-start;
          align-content: flex-start
      }

      .movie_card {
          box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
          /* border:1px solid rgba(var(--lightGrey),1); */
          /* background-color:#537f88 */
      }

      div.right_side_content_column {
          padding-left: 30px;
          background: 0 0
      }

      div.right_side_content_column.no_pad {
          /* padding-left:0; */
          padding-right: 0
      }

      div.right_side_content_column {
          background-color: #fdfdfd0f;
          min-width: calc(100% - 80px - 268px);
          max-width: calc(var(--maxPrimaryPageWidth) - 80px - 268px);
          display: flex;
          flex-wrap: wrap;
          flex: 0 1 auto;
          padding-right: 30px
      }

      section.panel {
          width: 100%;
          display: block;
          /* padding:30px 0; */
      }

      div.page_wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: start;
          align-items: flex-start;
          column-gap: 5px;
          margin-left: 5px;
      }

      div.movie_card.style_1 {
          position: relative;
          top: 0;
          left: 0;
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          /* border:1px solid #e3e3e3; */
          border-radius: var(--imageBorderRadius);
          overflow: hidden;
          margin-top: 30px;
          /* width: calc((100% - 80px - 260px - (var(--discoverColumnPadding)*var(--numberOfDiscoverColumns)))/var(--numberOfDiscoverColumns)); */
          max-width: calc((var(--maxPrimaryPageWidth) - 80px - 260px - (var(--discoverColumnPadding)*var(--numberOfDiscoverColumns)))/var(--numberOfDiscoverColumns))
      }

      .card_movie_title {
          font-size: 1rem;
          display: inline-block;
          overflow: hidden;
          height: 44px;
          text-overflow: ellipsis;
          width: inherit;
          white-space: normal;
          margin-top: 15px;
      }

      div.filter_panel-- {
          min-width: 260px;
          width: 260px;
          /* border:1px solid #e3e3e3; */
          border-radius: var(--imageBorderRadius);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          overflow: hidden
      }

      .leftsidebar {
          min-width: 260px;
          width: 260px;
          /* border:1px solid #e3e3e3; */
          border-radius: var(--imageBorderRadius);
          /* display: flex; */
          flex-wrap: wrap;
          justify-content: space-between;
          /* overflow:hidden; */
          background-color: #0c0c0c;
          color: black;

          position: fixed;
          height: 100vh;
          overflow: scroll;
      }

      .activeSidebar {
          display: block !important;
      }

      .right_side_content_column {
          margin-left: 260px;
      }

      /* left side bar */
      div.filter_panel div.filter,
      div.filter {
          width: 100%;
          border-top: 1px solid #eee;
          padding: 14px 16px 16px;
      }

      .search_filter {
          width: 100%;
          padding: 14px 16px 16px;
      }

      div.filter h3 {
          display: inline-flex;
          align-items: center;
          width: 100%;
          font-size: 1.3em;
          font-weight: 600;
          margin-bottom: 10px;
          color: white;
      }

      .filter ul {
          list-style-type: none;
      }

      ul.multi_select.text li {
          display: inline-flex;
          border: 1px solid #9e9e9e;
          border-radius: 14px;
          /* padding: 4px 12px;
                        font-size: .9em; */
          padding: 5px 15px;
          font-size: .93em;
          margin-right: 6px;
          margin-top: 8px;
      }

      ul.multi_select.text li a {
          color: white;
      }

      ul.multi_select.text li.selected {
          background-color: rgba(var(--tmdbRedBg), 1);
          border-color: rgba(var(--tmdbRedBg), 1);
      }

      ul.multi_select.text li.selected a {
          color: #fff;
      }

      #applyfilter:hover {
          cursor: pointer;
          background-color: #fff;
          color: #060606 !important;
      }

      #applyfilter {
          font-size: 1.1rem;
          font-weight: bold;
          color: white;
      }

         @media screen and (min-width: 767px) {
        .drop_1 {
                background: rgb(30, 30, 30);
                border: 1px solid #404040;
                border-radius: 5px;
            }
      }

      @media screen and (max-width: 767px) {

          /* navigation for mobile devices */
          .navbar-collapse {
              min-width: 350px;
              z-index: 100;
              top: 68px;
              position: fixed;
              background: rgb(30, 30, 30);
              right: 0px;
              min-height: 90vh;
          }

          #header .nav-link {
              font-size: 18px;
              line-height: 2;
              font-weight: 500;
          }

          .dropdown-menu.show {
              display: block;
              left: 50px;
              position: relative !important;
              max-width: 80%;
          }

        .drop_1 a {
            font-size: 14px!important;
        }

          /* top banner for mobile devices */
          #leftRibbon {
              display: none;
          }

          /* sidebar content */
          .leftsidebar {
              display: none;
              z-index: 10;
          }

          .right_side_content_column {
              padding: 0 !important;
              margin: 0;
          }

          .float-menu {
              display: block;
          }
      }

      div.apply.disabled,
      div.apply.disabled:hover {
          background-color: rgba(228, 228, 228, .7);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
      }

      div.apply {
          width: 100%;
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          border-radius: 5px;
          height: 35px;
      }

      div.media.discover div.apply p {
          display: inline-flex;
          align-items: center;
      }

      div.apply p {
          align-content: center;
          /* width: 100%; */
          height: 100%;
          margin: 0;
          padding: 0;
      }

      div.apply.disabled a {
          color: rgba(0, 0, 0, .5);
      }

      div.apply a {
          /* color: #fff; */
          font-size: 1em;
          line-height: 1;
          font-weight: 600;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-content: center;
          text-align: center;
          font-size: 1.1rem;
      }

      .background_color.light_blue {
          background-color: rgba(var(--tmdbRedBg), 1);
      }